<html>
  <head>
    <title>Yay!</title>
    <meta charset='utf-8' />
    <meta id="viewport" name="viewport" content ="width=device-width, initial-scale=1.0, user-scalable=no" />
    <%= erb :styles %>
  </head>
  <body>
    <%= erb :jumbotron, locals: { src: 'images/epic.gif' } %>

    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <h1 class="tagline">
            Figlet is now enabled for <%= team_name  %> 💯
          </h1>
        </div>
      </div>

      <%= erb :use_it, locals: { headline: 'How to use it' } %>

      <%= erb :about %>
      <%= erb :footer %>
    </div>
  </body>
</html>
